# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build (win64 and linux64)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:
  build-windows64:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Extract voidsprite devlibs
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: tar -xf freesprite/devlibs/devlibs.zip -C freesprite/devlibs

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:Platform="x64" ${{env.SOLUTION_FILE_PATH}}

    - name: Make build directories and copy devlibs
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: ./copy_devlibs.bat
      
    - name: Copy assets
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: ./copy_assets.bat

    - name: Push build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: voidsprite-build
        path: |
          x64/Release
          
  build-linux64:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: install g++13
      run: sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y && sudo apt-get update -y && sudo apt-get install g++-13

    - name: install devlibs
      run: sudo apt-get install -y python3 python3-pip libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev zlib1g-dev libpng-dev libpugixml-dev ninja-build python3-distutils python3-pkg-resources
    
    - name: install latest meson
      run: pip3 install --user meson

    - name: run build
      run: ./linux_build.sh

    - name: add licenses
      run: cp -r ../OPEN_SOURCE_LICENSES /tmp/voidsprite

    - name: Push build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: voidsprite-build-linux
        path: |
          /tmp/voidsprite
